/*GENERAL SETTINGS*/
body {
    border: 1px ;
	width: 1707px;
	margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E9EDEE;
}

/*HEADER*/
header {
    border: 5px ;
    height: 5em;
    background-color: rgb(34, 47, 63);
    color: aliceblue;
    
}

#amazonLogo {
    height: 4.2em;
    margin-left: 2em;
}
/*NAV*/
nav {
    border: 5px ;
    height: 2em;
    background-color: rgb(54, 71, 89);
    color:aliceblue;
    line-break: 3em;
}

.menu {
    margin-right: 1em;
}

#menuContainer {
    padding-top: 0.5em;
    margin-left: 2em;
}
/*MAIN*/

main{
    margin-left: 2rem;
    margin-right: 2rem;
}

/*SECTION - ORANGE BAR*/
#orangeBar {
    border: 5px;
    background-color: rgb(245, 72, 0);
    height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

#orangeP {
    color: #ffff;
    padding-top: 0.5em;
}

/*SECTION - GREEN BANNER*/

#greenBanner {
    background-image: url(/assets/assets/bg-image.png);
    background-size: contain;
    background-repeat: repeat;
    border: 5px;
    height: 12.2em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    color: aliceblue;
}

#holidayGiftGuides {
    padding-top: 2em;
    padding-bottom: 1em;
    font-weight: 700;
    font-size: 2em;
}

#beAGoGifter {
    font-weight: 600;
}

/*SECTION - ROUNDED PICTURES*/

.sectionheading {
    font-weight: 700;
    font-size: 1.5em;
    padding-right: 1em;
    margin-top: 2em;
}

.shop {
    font-weight: 700;
    font-size: 1.2em;
    padding-right: 1em;
    margin-top: 2em;
    color: #3a767c;
}
#roundedPictures{
    border: 5px solid #ffff;
    height: 30em;
    background-color: #ffff;
}

.roundedImage {
height: 25em;
width: 22.2rem;
border-radius: 20px;
margin-left: 2.4em;
margin-top: 2em;
}

#perfectGift{
    font-weight: 700;
    font-size: 1.5em;
    padding-right: 1em;
}

#shopNow{

    font-size: 1em;
    padding-right: 1em;
}
/*SECTION - VR BANNER*/

#vrBanner {
    background-image: url(/assets/assets/img_9.png);
    margin-top: 2em;
    height: 30em;
    background-size: 103em 30em;
    background-repeat: no-repeat;
    border: 5px ;
    text-align: center;
}
 
#vrBannerText{
text-align: center;
}

#marshallBanner {
    background-image: url(/assets/assets/img_10.png);
    margin-top: 2em;
    height: 30em;
    background-size: 103em 30em;
    background-repeat: no-repeat;
    border: 5px ;
    text-align: center;
}
 
#marshallBannerText{
text-align: center;
margin-bottom: 2em;
}


/*FOOTER*/

footer{
    text-align: center;
    border: 5px;
    height: 15em;
    background-color: rgb(34, 47, 63);
    color: aliceblue;
}

#footerA {
    color: #ffff;
} 

#backToTop {
    padding-top: 1em;
    border: 5px;
    height: 2em;
    background-color: rgb(54, 71, 89);
    color:aliceblue;
    line-break: 3em;

}

#amazonLogo2 {
    height: 4.2em;
    margin-left: 2em;
    margin-top: 4em;
}