/*GENERAL SETTINGS*/
body {
    border: 1px solid #000;
	width: 1707px;
	margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
/*HEADER*/
header {
    border: 5px solid black;
    height: 5em;
    background-color: rgb(49, 49, 99);
    color: aliceblue;
    
}

#amazonLogo {
    height: 4.2em;
    margin-left: 2em;
}
/*NAV*/
nav {
    border: 5px solid black;
    height: 2em;
    background-color: rgb(67, 67, 118);
    color:aliceblue;
    line-break: 3em;
}

.menu {
    margin-right: 1em;
}

#menuContainer {
    margin-top: 0.5em;
    margin-left: 2em;
}
/*MAIN*/

main{
    margin-left: 2rem;
    margin-right: 2rem;
}

/*SECTION - ORANGE BAR*/
#orangeBar {
    border: 5px solid black;
    background-color: orange;
    height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

/*SECTION - GREEN BANNER*/

#greenBanner {
    background-image: url(/assets/assets/bg-image.png);
    background-size: contain;
    background-repeat: repeat;
    border: 5px solid black;
    height: 12.2em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    color: aliceblue;
}

#holidayGiftGuides {
    margin-top: 4em;
}

/*SECTION - ROUNDED PICTURES*/
#roundedPictures{
    border: 5px solid black;
    height: 30em;
    text-align: center;
}

.roundedImage {
height: 25em;
width: 22.2rem;
border-radius: 20px;
margin-left: 1.8em;
margin-top: 3em;
}

/*SECTION - VR BANNER*/

#vrBanner {
    background-image: url(/assets/assets/img_9.png);
    margin-top: 2em;
    height: 30em;
    background-size: 103em 30em;
    background-repeat: no-repeat;
    border: 5px solid black;
    text-align: center;
}
 
#vrBannerText{
text-align: center;
}

#marshallBanner {
    background-image: url(/assets/assets/img_10.png);
    margin-top: 2em;
    height: 30em;
    background-size: 103em 30em;
    background-repeat: no-repeat;
    border: 5px solid black;
    text-align: center;
}
 
#marshallBannerText{
text-align: center;
margin-bottom: 2em;
}


/*FOOTER*/

footer{
    text-align: center;
    border: 5px solid black;
    height: 15em;
    background-color: rgb(49, 49, 99);
    color: aliceblue;
}

#backToTop {
    border: 5px solid black;
    height: 2em;
    background-color: rgb(67, 67, 118);
    color:aliceblue;
    line-break: 3em;

}

#amazonLogo2 {
    height: 4.2em;
    margin-left: 2em;
    margin-top: 4em;
}